<p id="notice"><%= notice %></p>

<p>
  <strong>Script cdn url:</strong>
  <%= @script_url.script_cdn_url %>
</p>

<%= link_to 'Edit', edit_script_url_path(@script_url) %> |
<%= link_to 'Back', script_urls_path %>
